body {
  
  background-image: url("https://i.ibb.co/n3hYqbQ/pexels-katerina-holmes-5905700.jpg");
  background-repeat: no-repeat;
  background-size: 1400px 700px;
  
 }
 .container{
   display: inline-block;
 }
 img{
       width: 150px;
       height: 40px;
      
 }
 .button{
   margin-left: 900px;
   padding: 15px;
   
   border-radius: 10px;
   
   border: none;
   background-color: rgb(90, 89, 89);
   color: white;
 }
 .profile{
        margin-left: 20px;
        
        border: none;
        border-radius: 50%;
        width: 50px;
        height: 50px;
 }